<h2>{{title}}</h2>
<table  class="table">
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
           <th>Room Nr</th>
           <th>Room Type</th>
           <th>Room Price</th>
           <th>Date</th>
           <th>Rating</th>
           <th>Select a Room</th>
        </tr>
        <tr   *ngFor="let room of rooms; let e = even; let o = odd; let i=index">
            <td>{{ i }}</td>
            <td>{{e ? "Even" : "Odd"}}</td>
            <td>{{room.roomNumber}}</td>
              <td>{{room.roomType}}</td>
               <td>{{room.price | currency : 'EUR' }}</td>
               <td>{{room.checkOutTime | date : 'short'}}</td>
               <td>{{room.rating | number:'1.0-0' }}</td>
               <td><button class="btn btn-primary"  (click)="selectRoom(room)">Select</button></td>

        </tr>
    </table>